<% form_for @search do |s| %>
    <h3>Reporting Criteria</h3>
    <label><%= t("date_range") %></label><br />
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first">
        <%= s.unobtrusive_date_text_picker :created_at_after %><br />
        <label class="sub"><%= t("start") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= s.unobtrusive_date_text_picker :created_at_before %><br />
        <label><%= t("stop") %></label>
      </div>
    </div>

    <% if @stores -%>
    Stores:<br /><%= collection_select(:search, :store_id, @stores, :id, :name, { :include_blank => 'All' } ) %><br />
    <% end -%>

    <% if params[:action] != 'top_products' %>
    Products:<br /><%= collection_select(:advanced_reporting, :product_id, @products, :id, :name, { :include_blank => 'All' } ) %><br />
    <% end -%>

    <p><%= button t("submit") %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("description") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |key, value| %>
    <tr>
      <td><%= link_to t(value[:name].downcase.gsub(" ","_")), send("#{key}_admin_reports_url".to_sym) %></td>
      <td><%= t(value[:description].downcase.gsub(" ","_")) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% content_for :head do -%>
<%= javascript_include_tag 'jquery.flot.js', 'maphilight.js', 'jquery.tablesorter.min.js', 'advanced_reporting.js' %>
<%= stylesheet_link_tag 'advanced_reporting' %>
<% end -%>
