<% form_for @search do |s| %>
    <h3>Reporting Criteria</h3>
    <label><%= t("date_range") %></label><br />
    <div class="yui-g date-range-filter">
      <div class="yui-u sub-field first">
        <%= s.unobtrusive_date_text_picker :created_at_after %><br />
        <label class="sub"><%= t("start") %></label>
      </div>
      <div class="yui-u sub-field">
        <%= s.unobtrusive_date_text_picker :created_at_before %><br />
        <label><%= t("stop") %></label>
      </div>
    </div>

    <% if @stores -%>
    Stores: dropdown for stores
    <% end -%>

    <% if params[:action] != 'top_products' %>
    Products: <%= collection_select(:advanced_reporting, :product, @products, :id, :name, { :include_blank => 'All' } ) %> 
    <% end -%>

    <p><%= button t("search") %></p>
<% end %>

<% content_for :head do -%>
<%= javascript_include_tag 'jquery.tablesorter.min.js', 'advanced_reporting.js' %>
<%= stylesheet_link_tag 'advanced_reporting' %>
<% end -%>
