<% content_for :sidebar do -%>
  <%= render :partial => 'admin/reports/advanced_report_criteria', :locals => {} %>
<% end -%>

<h1><%= @report_name %></h1>

<table width="100%" cellpadding="0" cellspacing="0" class="show_data">
  <tr>
    <td width="50%" class="selected" id="state">States</td>
    <td width="50%" id="country">Countries</td>
  </tr>
</table>

<% [:state, :country].each do |type| -%>
<div id="<%= type.to_s %>_data" <%= 'style="display:none;"' if type != :state %> class="advanced_reporting_data">
  <%= @data[type].to_html %>

  <div class="map" style="display: block; background: url('<%= @geomaps[type][:image] %>') repeat scroll 0% 0% transparent; position: relative; padding: 0px; width: <%= @geomaps[type][:width] %>px; height: <%= @geomaps[type][:height] %>px;"><canvas width="<%= @geomaps[type][:width] %>" height="<%= @geomaps[type][:height] %>" style="width: <%= @geomaps[type][:width] %>px; height: <%= @geomaps[type][:height] %>px; position: absolute; left: 0px; top: 0px; padding: 0px; border: 0px none; opacity: 1;"></canvas><img style="opacity: 0; position: absolute; left: 0px; top: 0px; padding: 0px; border: 0px none;" class="map maphilighted" src="<%= @geomaps[type][:image] %>" usemap="#<%= @geomaps[type][:permalink] %>" width="<%= @geomaps[type][:width] %>" height="<%= @geomaps[type][:height] %>"></div>
  <map name="<%= @geomaps[type][:permalink] %>">
    <% @geomaps[type].geomap_points.each do |p| -%>
    <area href="#" <%= @map_data[type][p[:location]] && @map_data[type][p[:location]][:opacity] ? 'class="' + @map_data[type][p[:location]][:opacity] + '" ' : '' %> title="<%= p[:location] %>" shape="<%= p[:shape] %>" coords="<%= p[:coordinates] %>" />
    <% end -%>
  </map>
</div>
<% end -%>
